In [3]:
import seaborn as sns
sns.set()

In [2]:
from static_grader import grader

# SQL Miniproject

## Introduction

The city of New York does restaurant inspections and assigns a grade. Inspections data for various years are available on s3 as an SQLite database, which you can import in the next few cells. These were extracted from a set of CSV files and an XLS file, as described in the <b>How we loaded the data</b> section

The raw data can be found [here](https://s3.amazonaws.com/dataincubator-course/coursedata/nyc_inspection_data.zip) and can be useful to look at. The file `RI_Webextract_BigApps_Latest.xls` contains a description of each of the data files and what the columns mean.

In [1]:
#This will load the pre-existing tables
%load_ext sql
%sql postgresql://docker:docker@nycinspection.tditrain.com:5433/NYCinspection

To see what tables are in the database:

In [75]:
%%sql

SELECT table_name FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
4 rows affected.

[('webextract',), ('violations',), ('cuisine',), ('boroughs',)]

And to look at the format of an individual table (note that you may need to change types to get the answers in the right form):

In [77]:
%%sql

SELECT column_name, data_type FROM information_schema.columns
WHERE table_name = 'webextract'
ORDER BY ordinal_position;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
15 rows affected.

[('camis', 'integer'),
 ('dba', 'text'),
 ('boro', 'integer'),
 ('building', 'text'),
 ('street', 'text'),
 ('zipcode', 'text'),
 ('phone', 'text'),
 ('cuisinecode', 'integer'),
 ('inspdate', 'timestamp without time zone'),
 ('action', 'text'),
 ('violcode', 'text'),
 ('score', 'integer'),
 ('currentgrade', 'text'),
 ('gradedate', 'timestamp without time zone'),
 ('recorddate', 'timestamp without time zone')]

In [67]:
%%sql

SELECT * FROM webextract
LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
10 rows affected.

[(41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2011, 10, 13, 0, 0), 'F', '06A', 36, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2011, 10, 13, 0, 0), 'F', '06B', 36, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2011, 10, 13, 0, 0), 'F', '08A', 36, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2011, 10, 13, 0, 0), 'F', '99B', 36, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2012, 4, 18, 0, 0), 'D', '10B', 2, 'A', datetime.datetime(2012, 4, 18, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2013, 5, 17, 0, 0), 'D', '15L', None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2013, 6, 12, 0, 0), 'D', '10B', 9, 'A', datetime.datetime(2013, 6, 12, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2013, 12, 7, 0, 0), 'P', '04L', 17, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2013, 12, 7, 0, 0), 'P', '06D', 17, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (41429784, 'DITMARS STATION', 4, '2255      ', '31 STREET                                                                                           ', '11105', '7187771177', 62, datetime.datetime(2013, 12, 7, 0, 0), 'P', '10F', 17, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000))]

### Submission format

For all questions other than the first, the grader is expecting a table of results.  This can be in the form of a Python list of lists or a DataFrame.  The output format of the SQL magic (that is, cells that start with `%%sql`) is also accepted by the grader.

Recall that in IPython notebooks, the output of the previously-run cell is stored in the variable `_`.  We can capture the output of the previous query, for example by running:

In [17]:
result = _

This object can be indexed or iterated, and thus your answer can be built.

In [18]:
result[0][0]

'camis'

If your query produces output of the right shape, you can submit this full result direct to the grader without any intermediate steps.

**Note:** All questions have a placeholder solution provided to demonstrate the correct shape for your answer.  Be sure to submit the answer you've computed, not the placeholder!

**Warning:** If any returned query has thousands of rows, you run the risk of your browser locking up. To prevent your browser from locking up, use `LIMIT` to control the number of records that are returned and displayed.

### Aside: How we loaded the data

As you may notice, the original data come in CSV files.  There are a number of ways to load CSV files into a SQL database; we'll demonstrate a few here.  For concreteness, let's suppose we have a CSV file `sample.csv` with the following contents:
```
Name,Age
Alice,3
Bob,10
```

SQLite has a convenient [`.import` function](https://sqlite.org/cli.html#csv_import) which can create tables from `.csv` files.

```bash
sqlite> .import sample.csv sample
sqlite> SELECT * FROM sample;
```

In PostgreSQL, you need to create a table and then [copy](https://www.postgresql.org/docs/current/app-psql.html#APP-PSQL-META-COMMANDS-COPY) the data into it.
```
postgres=> CREATE TABLE sample (name TEXT, age INT);
postgres=> \copy sample FROM 'sample.csv' WITH CSV HEADER;
```

Alternatively, you can also read CSV files using pandas and convert that into SQL via some [SQL magic](https://github.com/catherinedevlin/ipython-sql#pandas).

```python
import pandas as pd

%load_ext sql
%sql sqlite:///sample.db

sample = pd.read_csv('sample.csv')
    
%sql DROP TABLE IF EXISTS sample;
%sql --persist sample
%sql SELECT * FROM sample;
```

Note that many CSV files contain badly formatted text.  Unfortunately, this is all too common.  The [`iconv`](https://linux.die.net/man/1/iconv) utility can convert files between different text encodings, and tools like [`awk`](https://linux.die.net/man/1/awk) and [`sed`](https://linux.die.net/man/1/sed) are useful for text transformation operations.

## Question 1: Null entries

Return the number of inspections (`CAMIS`, `INSPDATE` pairs) that do not have a score - i.e. where none of the rows with those (`CAMIS`, `INSPDATE`) values has a score. Remove the corresponding rows from the data set for the rest of the questions in the assignment.

> **Note:**  This database is _read-only_, so you cannot modify the database to "remove" the rows.  You should instead make a temporary table (or temporary view) that does this "removal" process and use that temporary table for the remainder of the questions.  

As an example, we might see this in our data:

```sql
SELECT CAMIS, INSPDATE, SCORE
FROM webextract
ORDER BY CAMIS, INSPDATE
LIMIT 10;
```

| `CAMIS` | `INSPDATE` | `SCORE` |
| --- | --- | --- |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | None |
| 30075445 | 2011-04-27 00:00:00 | None |
| 30075445 | 2011-11-12 00:00:00 | None |
| 30075445 | 2011-11-12 00:00:00 | None |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |

We want to filter only those dates for a given `CAMIS` where _every_ score is NULL (or `None` in the Python output).  In this case, we would remove 2011-04-27 and 2011-11-12, but keep 2011-03-10 (and 2011-11-23, of course).  Our post-filtering table would be:

| `CAMIS` | `INSPDATE` | `SCORE` |
| --- | --- | --- |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | None |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |

--**Question:** How else might we have handled this?

In [4]:
%%sql

SELECT CAMIS, INSPDATE, SCORE
FROM webextract
GROUP BY CAMIS, INSPDATE, SCORE
HAVING sum(SCORE) IS NULL

LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
10 rows affected.

[(30075445, datetime.datetime(2011, 3, 10, 0, 0), None),
 (30075445, datetime.datetime(2011, 4, 27, 0, 0), None),
 (30075445, datetime.datetime(2011, 11, 12, 0, 0), None),
 (30075445, datetime.datetime(2011, 12, 21, 0, 0), None),
 (30075445, datetime.datetime(2012, 5, 3, 0, 0), None),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), None),
 (30075445, datetime.datetime(2013, 1, 24, 0, 0), None),
 (30075445, datetime.datetime(2013, 6, 1, 0, 0), None),
 (30075445, datetime.datetime(2013, 10, 10, 0, 0), None),
 (30191841, datetime.datetime(2010, 9, 23, 0, 0), None)]

In [3]:
%%sql

SELECT COUNT (*) 
FROM (
    SELECT CAMIS, INSPDATE, COUNT (*)
    FROM webextract
    GROUP BY CAMIS, INSPDATE
    HAVING sum(SCORE) IS NULL
) AS groups

LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[(8255,)]

In [210]:
%%sql

SELECT * 
FROM (
    SELECT CAMIS, INSPDATE, SUM(SCORE) AS new 
    FROM webextract
    WHERE SCORE IS NOT NULL
    GROUP BY CAMIS, INSPDATE
) AS groups

LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
10 rows affected.

[(30075445, datetime.datetime(2011, 3, 10, 0, 0), 42),
 (30075445, datetime.datetime(2011, 11, 23, 0, 0), 27),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 125),
 (30075445, datetime.datetime(2013, 1, 24, 0, 0), 20),
 (30075445, datetime.datetime(2013, 8, 14, 0, 0), 192),
 (30075445, datetime.datetime(2013, 9, 11, 0, 0), 12),
 (30075445, datetime.datetime(2014, 3, 3, 0, 0), 2),
 (30112340, datetime.datetime(2011, 12, 1, 0, 0), 130),
 (30112340, datetime.datetime(2011, 12, 14, 0, 0), 20),
 (30112340, datetime.datetime(2012, 5, 8, 0, 0), 48)]

In [3]:
%%sql
--Making a temp table to use for the rest of the problems

DROP TABLE IF EXISTS new_temp;
CREATE TEMP TABLE new_temp AS

SELECT *
FROM (
    SELECT CAMIS AS CAMIS_filt, INSPDATE AS INSPDATE_filt, SUM(SCORE) AS new 
    FROM webextract
    WHERE SCORE IS NOT NULL
    GROUP BY CAMIS, INSPDATE
) AS groups JOIN(
    SELECT *
    FROM webextract
) AS groups2 
ON groups2.INSPDATE = groups.INSPDATE_filt AND groups2.CAMIS = groups.CAMIS_filt;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
522812 rows affected.

[]

In [6]:
null_entries = 8255

grader.score('sql__null_entries', null_entries)

==================
Your score: 1.0000
==================

## Question 2: Score by ZIP code

Return a list of tuples of the form:

    (ZIP code, mean score, number of restaurants)

for each of the 87 ZIP codes in the city with over 100 restaurants (we'll call these "valid ZIP codes"). Use the score from the latest inspection date for each restaurant. Sort the list in ascending order by mean score.

**Note:** There is an interesting discussion here about what the mean score *means* in this data set. Think about what we're actually calculating - does it represent what we're trying to understand about these ZIP codes?

What if we use the average of a restaurant's inspections instead of the latest?

**Checkpoints:**
- Total unique restaurants: 24,361
- Total restaurants in valid ZIP codes: 19,172

In [12]:
%%sql
--number of unique restaurants--check
SELECT count(distinct(CAMIS))
FROM new_temp

LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[(24361,)]

In [5]:
%%sql
--number of valid zip codes--check
SELECT COUNT (*) 
FROM (
    SELECT zipcode
    FROM new_temp
    GROUP BY zipcode
    HAVING COUNT(distinct(CAMIS))>100
) AS hund_rest

LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[(87,)]

In [38]:
%%sql

DROP TABLE IF EXISTS Q2_temp;
CREATE TEMP TABLE Q2_temp AS

--number of restaurants per zip code
SELECT zipcode, count(distinct(CAMIS)) 
FROM new_temp
GROUP BY zipcode
HAVING COUNT(distinct(CAMIS))>100;

--LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
87 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [13]:
%%sql

DROP TABLE IF EXISTS date_temp;
CREATE TEMP TABLE date_temp AS

--max date for each restaurant
SELECT CAMIS,zipcode, MAX(INSPDATE),dba
FROM new_temp
GROUP BY CAMIS,zipcode,dba
ORDER BY CAMIS;

--LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
24361 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 90;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
%%sql

--Table join--latest score for each restaurant;att3
DROP TABLE IF EXISTS date_temp3;
CREATE TEMP TABLE date_temp3 AS

SELECT nt.camis, nt.zipcode, dt.max,nt.score
FROM date_temp as dt
JOIN new_temp as nt
ON nt.CAMIS = dt.CAMIS
    AND nt.zipcode = dt.zipcode
    AND nt.INSPDATE = dt.max
WHERE nt.score is not null
GROUP BY  nt.camis,nt.zipcode, dt.max,nt.score
ORDER BY nt.zipcode;

--LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
24361 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 90;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [39]:
%%sql

--average per zipcode
DROP TABLE IF EXISTS zip_avg;
CREATE TEMP TABLE zip_avg AS

SELECT zipcode, avg(score)
FROM date_temp3
GROUP BY zipcode
ORDER BY zipcode;

--LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
207 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 90;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [47]:
%%sql

--join zip avg table with q2_temp on zipcode

SELECT qt.zipcode, zt.avg,qt.count
FROM zip_avg as zt
JOIN Q2_temp as qt
ON qt.zipcode = zt.zipcode
GROUP BY  qt.zipcode, zt.avg,qt.count
ORDER BY zt.avg

LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
87 rows affected.

[('10451', Decimal('9.1428571428571429'), 154),
 ('10001', Decimal('9.1494949494949495'), 495),
 ('11430', Decimal('9.6896551724137931'), 145),
 ('11236', Decimal('9.8301886792452830'), 106),
 ('10472', Decimal('10.1308411214953271'), 107),
 ('11234', Decimal('10.1862068965517241'), 145),
 ('11217', Decimal('10.3455284552845528'), 246),
 ('10306', Decimal('10.5333333333333333'), 105),
 ('11368', Decimal('10.5357142857142857'), 280),
 ('10462', Decimal('10.5379310344827586'), 145),
 ('11231', Decimal('10.5657894736842105'), 152),
 ('11237', Decimal('10.6000000000000000'), 175),
 ('10461', Decimal('10.6778523489932886'), 149),
 ('11209', Decimal('10.6916996047430830'), 253),
 ('10019', Decimal('10.7608024691358025'), 648),
 ('11201', Decimal('10.7687687687687688'), 333),
 ('11105', Decimal('10.7731092436974790'), 119),
 ('10065', Decimal('10.9041916167664671'), 167),
 ('11435', Decimal('10.9223300970873786'), 103),
 ('10463', Decimal('10.9682539682539683'), 126),
 ('10022', Decimal('10.9746300211416490'), 473),
 ('10458', Decimal('11.0000000000000000'), 188),
 ('10023', Decimal('11.0208333333333333'), 192),
 ('10468', Decimal('11.0490196078431373'), 102),
 ('10004', Decimal('11.0708661417322835'), 127),
 ('11207', Decimal('11.1015625000000000'), 128),
 ('10007', Decimal('11.1145038167938931'), 131),
 ('10036', Decimal('11.1376936316695353'), 581),
 ('11232', Decimal('11.1415094339622642'), 106),
 ('11222', Decimal('11.1459459459459459'), 185),
 ('11361', Decimal('11.1607142857142857'), 112),
 ('11238', Decimal('11.2532751091703057'), 229),
 ('11204', Decimal('11.2583333333333333'), 120),
 ('11215', Decimal('11.3027777777777778'), 360),
 ('11385', Decimal('11.3045267489711934'), 243),
 ('11106', Decimal('11.3181818181818182'), 154),
 ('11103', Decimal('11.3383084577114428'), 201),
 ('10027', Decimal('11.3481012658227848'), 158),
 ('10467', Decimal('11.3975155279503106'), 161),
 ('11101', Decimal('11.4043478260869565'), 230),
 ('10017', Decimal('11.4093406593406593'), 364),
 ('11218', Decimal('11.4507042253521127'), 142),
 ('11432', Decimal('11.5405405405405405'), 185),
 ('10010', Decimal('11.5439330543933054'), 239),
 ('10028', Decimal('11.6113744075829384'), 211),
 ('10038', Decimal('11.6172839506172840'), 162),
 ('11226', Decimal('11.6262626262626263'), 198),
 ('11373', Decimal('11.6392694063926941'), 219),
 ('10024', Decimal('11.6820512820512821'), 195),
 ('11230', Decimal('11.7128712871287129'), 101),
 ('11221', Decimal('11.7358490566037736'), 106),
 ('10011', Decimal('11.7573696145124717'), 441),
 ('10014', Decimal('11.7669172932330827'), 399),
 ('10012', Decimal('11.7746835443037975'), 395),
 ('11375', Decimal('11.8000000000000000'), 190),
 ('10018', Decimal('11.8369230769230769'), 325),
 ('10009', Decimal('11.8580858085808581'), 303),
 ('11206', Decimal('11.8652482269503546'), 141),
 ('10003', Decimal('11.9513677811550152'), 658),
 ('11358', Decimal('11.9635036496350365'), 137),
 ('11219', Decimal('11.9801980198019802'), 101),
 ('10016', Decimal('11.9850746268656716'), 402),
 ('11208', Decimal('11.9911504424778761'), 113),
 ('10025', Decimal('12.0043668122270742'), 229),
 ('10002', Decimal('12.0066079295154185'), 454),
 ('10029', Decimal('12.1151832460732984'), 191),
 ('10314', Decimal('12.1153846153846154'), 182),
 ('11205', Decimal('12.1875000000000000'), 144),
 ('10013', Decimal('12.2521551724137931'), 464),
 ('11223', Decimal('12.2752808988764045'), 178),
 ('11203', Decimal('12.2814814814814815'), 135),
 ('11216', Decimal('12.3207547169811321'), 159),
 ('11214', Decimal('12.3714285714285714'), 175),
 ('11211', Decimal('12.4022988505747126'), 348),
 ('10128', Decimal('12.5732484076433121'), 157),
 ('10021', Decimal('12.5906040268456376'), 149),
 ('11229', Decimal('12.6884057971014493'), 138),
 ('11249', Decimal('12.8367346938775510'), 147),
 ('11372', Decimal('12.8576051779935275'), 309),
 ('10032', Decimal('12.9130434782608696'), 115),
 ('11354', Decimal('13.1104651162790698'), 344),
 ('11377', Decimal('13.1116504854368932'), 206),
 ('10033', Decimal('13.1327433628318584'), 113),
 ('11235', Decimal('13.2906976744186047'), 172),
 ('11220', Decimal('13.3344262295081967'), 305),
 ('11104', Decimal('13.3727272727272727'), 110),
 ('11355', Decimal('14.0213903743315508'), 187)]

In [48]:
result = _

In [49]:
len(result)

87

In [34]:
score_by_zipcode = result

grader.score('sql__score_by_zipcode', score_by_zipcode)

Your solution did not match the expected type: 87 * (string, number, count)

Specifically, solution did not match {'type': 'array', 'minItems': 87, 'maxItems': 87, 'items': {'type': 'array', 'items': [{'type': 'string'}, {'type': 'number'}, {'type': 'integer', 'minimum': 0}], 'minItems': 3, 'maxItems': 3}}:
    [('THE BRONX', Decimal('10.7768522577816747'), 2281), ('MANHATTAN...]

## Question 3: Score by borough

Return a list of tuples of the form:

    (borough, mean score, number of restaurants)

for each of the city's five boroughs. Use the latest score for each restaurant. Sort the list in ascending order by the mean score.

**Hint:** You will have to perform a join with the `boroughs` table. The borough names should be reported in ALL CAPS.

**Checkpoint:**
- Total restaurants in valid boroughs: 24,350

In [52]:
%%sql
SELECT * FROM boroughs
LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[(1, 'MANHATTAN'),
 (2, 'THE BRONX'),
 (3, 'BROOKLYN'),
 (4, 'QUEENS'),
 (5, 'STATEN ISLAND')]

In [5]:
%%sql
--Join boroughs table with new_temp to get borough names

DROP TABLE IF EXISTS boro_temp;
CREATE TEMP TABLE boro_temp AS

SELECT *
FROM boroughs as bt
JOIN new_temp as nt
ON bt.id = nt.boro;


--LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
522710 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 90;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [7]:
%%sql
--Total restaurants in valid boroughs-check
SELECT count(distinct(camis)) FROM boro_temp

LIMIT 100;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[(24350,)]

In [28]:
%%sql

DROP TABLE IF EXISTS camis_boro;
CREATE TEMP TABLE camis_boro AS

--number of restaurants per boro
SELECT name, count(distinct(CAMIS)) 
FROM boro_temp
GROUP BY name;

--LIMIT 10;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
5 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [17]:
%%sql
--DROP TABLE IF EXISTS date_boro;
--CREATE TEMP TABLE date_boro AS

--max date for each restaurant
SELECT CAMIS,name, MAX(INSPDATE)
FROM boro_temp
GROUP BY CAMIS,name
ORDER BY CAMIS

LIMIT 5;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[(30075445, 'THE BRONX', datetime.datetime(2014, 3, 3, 0, 0)),
 (30112340, 'BROOKLYN', datetime.datetime(2014, 7, 1, 0, 0)),
 (30191841, 'MANHATTAN', datetime.datetime(2013, 7, 22, 0, 0)),
 (40356018, 'BROOKLYN', datetime.datetime(2014, 6, 10, 0, 0)),
 (40356068, 'QUEENS', datetime.datetime(2014, 1, 29, 0, 0))]

In [21]:
%%sql

--Table join--latest score for each restaurant
DROP TABLE IF EXISTS boro_late;
CREATE TEMP TABLE boro_late AS

SELECT bt.camis, bt.name, db.max,bt.score
FROM date_boro as db
JOIN boro_temp as bt
ON bt.CAMIS = db.CAMIS
    AND bt.name = db.name
    AND bt.INSPDATE = db.max
WHERE bt.score is not null
GROUP BY bt.camis, bt.name, db.max,bt.score
ORDER BY bt.name;

--LIMIT 20;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
24350 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 20;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [26]:
%%sql

--average per boro
DROP TABLE IF EXISTS boro_avg;
CREATE TEMP TABLE boro_avg AS

SELECT name, avg(score)
FROM boro_late
GROUP BY name
ORDER BY name;

--LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
5 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 90;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [29]:
%%sql

--join zip avg table with q2_temp on zipcode

SELECT qt.name, zt.avg,qt.count
FROM boro_avg as zt
JOIN camis_boro as qt
ON qt.name = zt.name
GROUP BY  qt.name, zt.avg,qt.count
ORDER BY zt.avg

LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[('THE BRONX', Decimal('10.7768522577816747'), 2281),
 ('MANHATTAN', Decimal('11.4896370437771712'), 9891),
 ('BROOKLYN', Decimal('11.5968541631048042'), 5849),
 ('QUEENS', Decimal('11.8225955325826103'), 5417),
 ('STATEN ISLAND', Decimal('11.8991228070175439'), 912)]

In [30]:
result = _

In [31]:
len(result)

5

In [35]:
score_by_borough = result

grader.score('sql__score_by_borough', score_by_borough)

==================
Your score: 1.0000
==================

## Question 4: Violations by cuisine

We want to look at violations themselves now.  We'll need to think more carefully about what we're measuring, since most restaurants have many inspections with possibly multiple violations per inspection, or long stretches of inspections with no violations.

There are many ways to deal with this normalization issue, but we'll go with a fairly straightforward one: dividing the number of violations by the length of time (in years) the restaurant has been open.  As a proxy for the length, we'll look at the difference between the oldest and newest inspection date, treating anything less than 30 days as 30 days (to account for those that were only inspected once, we'll assume everything was open for at least a month).

Since there are so many restaurants, we'll group them by cuisine and do a weighted average by computing 

    (total violations for a cuisine) / (total restaurant-years for that cuisine)

Return a list of 75 tuples of the form

    (cuisine name, reports per restaurant-year)
    
for cuisines with at least 100 violations total, ordered by increasing number of reports per restaurant-year
    
**Note:** This isn't the only way to normalize things.  How would other ways affect the computation?  If you similarly wanted to compute an average score by cuisine, how might you go about doing that?
    
**Checkpoint:**
- Total entries from valid cuisines: 522,410

In [16]:
%%sql

SELECT *
FROM vio_hund
ORDER BY coder
LIMIT 100;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
100 rows affected.

[(0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '06C', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2012, 10, 19, 0, 0), 57, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2012, 10, 19, 0, 0), 'P', '10F', 19, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2013, 5, 9, 0, 0), 24, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2013, 5, 9, 0, 0), 'P', '04L', 12, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2012, 5, 10, 0, 0), 27, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2012, 5, 10, 0, 0), 'D', '08C', 9, 'A', datetime.datetime(2012, 5, 10, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2014, 2, 27, 0, 0), 8, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2014, 2, 27, 0, 0), 'D', '10F', 4, 'A', datetime.datetime(2014, 2, 27, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2013, 5, 15, 0, 0), 24, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2013, 5, 15, 0, 0), 'D', '10D', 12, 'A', datetime.datetime(2013, 5, 15, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2013, 1, 18, 0, 0), 26, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2013, 1, 18, 0, 0), 'D', '15L', None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2012, 12, 12, 0, 0), 18, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2012, 12, 12, 0, 0), 'D', '04L', 9, 'A', datetime.datetime(2012, 12, 12, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '10A', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2012, 5, 10, 0, 0), 27, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2012, 5, 10, 0, 0), 'D', '06F', 9, 'A', datetime.datetime(2012, 5, 10, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '04A', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2014, 3, 26, 0, 0), 24, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2014, 3, 26, 0, 0), 'D', '10B', 12, 'A', datetime.datetime(2014, 3, 26, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005944, datetime.datetime(2014, 6, 12, 0, 0), 2, 50005944, 'THE MOONLIGHTMILE', 3, '200       ', 'FRANKLIN STREET                                   ', '11222', '9175235851', 0, datetime.datetime(2014, 6, 12, 0, 0), 'D', '08B', 2, 'A', datetime.datetime(2014, 6, 12, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2013, 5, 15, 0, 0), 24, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2013, 5, 15, 0, 0), 'D', '04A', 12, 'A', datetime.datetime(2013, 5, 15, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2013, 4, 20, 0, 0), 108, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2013, 4, 20, 0, 0), 'P', '04L', 27, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2013, 1, 18, 0, 0), 26, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2013, 1, 18, 0, 0), 'D', '10B', 13, 'A', datetime.datetime(2013, 1, 18, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005196, datetime.datetime(2014, 1, 10, 0, 0), 2, 50005196, 'ATLANTIC FREEZE', 3, '620       ', 'ATLANTIC AVENUE                                   ', '11217', '9176186311', 0, datetime.datetime(2014, 1, 10, 0, 0), 'D', '10B', 2, 'A', datetime.datetime(2014, 1, 10, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2012, 11, 19, 0, 0), 104, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2012, 11, 19, 0, 0), 'P', '08A', 26, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2013, 5, 9, 0, 0), 24, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2013, 5, 9, 0, 0), 'P', '10F', 12, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '10E', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41643851, datetime.datetime(2012, 3, 15, 0, 0), 567, 41643851, 'OFF THE HOOKAH', 4, '25112     ', 'HILLSIDE AVENUE                                                                                     ', '11426', '5163555505', 0, datetime.datetime(2012, 3, 15, 0, 0), 'E', '04J', 81, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41683579, datetime.datetime(2012, 8, 10, 0, 0), 0, 41683579, 'GARDEN OF HEALTH', 3, '1408      ', 'BAYRIDGE AVENUE                                   ', '11219', '7184502400', 0, datetime.datetime(2012, 8, 10, 0, 0), 'B', None, 0, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '10B', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'D', '15L', None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2012, 10, 27, 0, 0), 24, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2012, 10, 27, 0, 0), 'D', '10H', 12, 'A', datetime.datetime(2012, 10, 27, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2014, 3, 26, 0, 0), 24, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2014, 3, 26, 0, 0), 'D', '04A', 12, 'A', datetime.datetime(2014, 3, 26, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2014, 2, 27, 0, 0), 8, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2014, 2, 27, 0, 0), 'D', '10H', 4, 'A', datetime.datetime(2014, 2, 27, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005236, datetime.datetime(2014, 4, 16, 0, 0), 36, 50005236, 'PIZZA HUT/KFC/TACO BELL', 3, '5106      ', 'KINGS PLAZA                                       ', '11234', '7182521380', 0, datetime.datetime(2014, 4, 16, 0, 0), 'D', '06E', 12, 'A', datetime.datetime(2014, 4, 16, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 40367946, datetime.datetime(2012, 6, 27, 0, 0), 2, 40367946, "THE LARK'S NEST", 2, '4280      ', 'KATONAH AVE                                                                                         ', '10470', '3472028233', 0, datetime.datetime(2012, 6, 27, 0, 0), 'D', '10F', 2, 'A', datetime.datetime(2012, 6, 27, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2014, 5, 29, 0, 0), 33, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2014, 5, 29, 0, 0), 'D', '08C', 11, 'A', datetime.datetime(2014, 5, 29, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2013, 4, 20, 0, 0), 108, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2013, 4, 20, 0, 0), 'P', '04A', 27, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2011, 5, 17, 0, 0), 222, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2011, 5, 17, 0, 0), 'F', '06C', 37, 'C', datetime.datetime(2011, 5, 17, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2011, 5, 17, 0, 0), 222, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2011, 5, 17, 0, 0), 'F', '04A', 37, 'C', datetime.datetime(2011, 5, 17, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2013, 1, 18, 0, 0), 26, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2013, 1, 18, 0, 0), 'D', '05D', 13, 'A', datetime.datetime(2013, 1, 18, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2011, 5, 5, 0, 0), 130, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2011, 5, 5, 0, 0), 'F', '04A', 26, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41698202, datetime.datetime(2013, 12, 5, 0, 0), 2, 41698202, 'EL BUEN SABOR', 3, '410       ', '54 STREET                                         ', '11220', '3473503043', 0, datetime.datetime(2013, 12, 5, 0, 0), 'D', '10B', 2, 'A', datetime.datetime(2013, 12, 5, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2011, 5, 5, 0, 0), 130, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2011, 5, 5, 0, 0), 'F', '04N', 26, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2011, 5, 5, 0, 0), 130, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2011, 5, 5, 0, 0), 'F', '10H', 26, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2012, 11, 19, 0, 0), 104, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2012, 11, 19, 0, 0), 'P', '04L', 26, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2012, 12, 12, 0, 0), 18, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2012, 12, 12, 0, 0), 'D', '08A', 9, 'A', datetime.datetime(2012, 12, 12, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005236, datetime.datetime(2014, 3, 20, 0, 0), 120, 50005236, 'PIZZA HUT/KFC/TACO BELL', 3, '5106      ', 'KINGS PLAZA                                       ', '11234', '7182521380', 0, datetime.datetime(2014, 3, 20, 0, 0), 'P', '02B', 24, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41630612, datetime.datetime(2012, 5, 10, 0, 0), 27, 41630612, 'NEBU HOOKAH LOUNGE', 4, '86-74     ', '80 STREET                                                                                           ', '11421', '3478817700', 0, datetime.datetime(2012, 5, 10, 0, 0), 'D', '10F', 9, 'A', datetime.datetime(2012, 5, 10, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41643851, datetime.datetime(2012, 3, 8, 0, 0), 225, 41643851, 'OFF THE HOOKAH', 4, '25112     ', 'HILLSIDE AVENUE                                                                                     ', '11426', '5163555505', 0, datetime.datetime(2012, 3, 8, 0, 0), 'E', '10F', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41643851, datetime.datetime(2012, 3, 15, 0, 0), 567, 41643851, 'OFF THE HOOKAH', 4, '25112     ', 'HILLSIDE AVENUE                                                                                     ', '11426', '5163555505', 0, datetime.datetime(2012, 3, 15, 0, 0), 'S', '20D', None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41643851, datetime.datetime(2012, 3, 15, 0, 0), 567, 41643851, 'OFF THE HOOKAH', 4, '25112     ', 'HILLSIDE AVENUE                                                                                     ', '11426', '5163555505', 0, datetime.datetime(2012, 3, 15, 0, 0), 'E', '10A', 81, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '05D', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41328214, datetime.datetime(2013, 10, 15, 0, 0), 2, 41328214, 'VNT CATERING HALL', 2, '1940', 'WEBSTER AVENUE', '10457', '7182993357', 0, datetime.datetime(2013, 10, 15, 0, 0), 'D', '08B', 2, 'A', datetime.datetime(2013, 10, 15, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005236, datetime.datetime(2014, 3, 20, 0, 0), 120, 50005236, 'PIZZA HUT/KFC/TACO BELL', 3, '5106      ', 'KINGS PLAZA                                       ', '11234', '7182521380', 0, datetime.datetime(2014, 3, 20, 0, 0), 'P', '02G', 24, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '10D', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41075261, datetime.datetime(2011, 5, 17, 0, 0), 222, 41075261, "SPANKY &  DARLA'S", 1, '140', '1 AVENUE', '10009', '2122546631', 0, datetime.datetime(2011, 5, 17, 0, 0), 'F', '04L', 37, 'C', datetime.datetime(2011, 5, 17, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2012, 10, 12, 0, 0), 360, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2012, 10, 12, 0, 0), 'F', '04H', 45, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005944, datetime.datetime(2014, 6, 12, 0, 0), 2, 50005944, 'THE MOONLIGHTMILE', 3, '200       ', 'FRANKLIN STREET                                   ', '11222', '9175235851', 0, datetime.datetime(2014, 6, 12, 0, 0), 'D', '15L', None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41683579, datetime.datetime(2012, 12, 5, 0, 0), 10, 41683579, 'GARDEN OF HEALTH', 3, '1408      ', 'BAYRIDGE AVENUE                                   ', '11219', '7184502400', 0, datetime.datetime(2012, 12, 5, 0, 0), 'D', '05D', 10, 'A', datetime.datetime(2012, 12, 5, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41643851, datetime.datetime(2012, 3, 15, 0, 0), 567, 41643851, 'OFF THE HOOKAH', 4, '25112     ', 'HILLSIDE AVENUE                                                                                     ', '11426', '5163555505', 0, datetime.datetime(2012, 3, 15, 0, 0), 'E', '10H', 81, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005236, datetime.datetime(2014, 3, 20, 0, 0), 120, 50005236, 'PIZZA HUT/KFC/TACO BELL', 3, '5106      ', 'KINGS PLAZA                                       ', '11234', '7182521380', 0, datetime.datetime(2014, 3, 20, 0, 0), 'B', None, None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 37, 523000)),
 (0, 127, 41679004, datetime.datetime(2014, 5, 29, 0, 0), 33, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2014, 5, 29, 0, 0), 'D', '10B', 11, 'A', datetime.datetime(2014, 5, 29, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005236, datetime.datetime(2014, 4, 16, 0, 0), 36, 50005236, 'PIZZA HUT/KFC/TACO BELL', 3, '5106      ', 'KINGS PLAZA                                       ', '11234', '7182521380', 0, datetime.datetime(2014, 4, 16, 0, 0), 'D', '10F', 12, 'A', datetime.datetime(2014, 4, 16, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 50005236, datetime.datetime(2014, 4, 16, 0, 0), 36, 50005236, 'PIZZA HUT/KFC/TACO BELL', 3, '5106      ', 'KINGS PLAZA                                       ', '11234', '7182521380', 0, datetime.datetime(2014, 4, 16, 0, 0), 'D', '06D', 12, 'A', datetime.datetime(2014, 4, 16, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 40367946, datetime.datetime(2011, 7, 13, 0, 0), 20, 40367946, "THE LARK'S NEST", 2, '4280      ', 'KATONAH AVE                                                                                         ', '10470', '3472028233', 0, datetime.datetime(2011, 7, 13, 0, 0), 'D', '04N', 10, 'A', datetime.datetime(2011, 7, 13, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 40367946, datetime.datetime(2011, 7, 13, 0, 0), 20, 40367946, "THE LARK'S NEST", 2, '4280      ', 'KATONAH AVE                                                                                         ', '10470', '3472028233', 0, datetime.datetime(2011, 7, 13, 0, 0), 'D', '08A', 10, 'A', datetime.datetime(2011, 7, 13, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41679004, datetime.datetime(2014, 5, 29, 0, 0), 33, 41679004, 'MIDDLE BRANCH', 1, '154       ', 'EAST   33 STREET                                  ', '10016', '2122131350', 0, datetime.datetime(2014, 5, 29, 0, 0), 'D', '04H', 11, 'A', datetime.datetime(2014, 5, 29, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (0, 127, 41677131, datetime.datetime(2013, 9, 16, 0, 0), 5, 41677131, 'PLACE OF DREAMS/HERBALIFE', 4, '30-02', '30 STREET', '11102', '6465464405', 0, datetime.datetime(2013, 9, 16, 0, 0), 'D', '06D', 5, 'A', datetime.datetime(2013, 9, 16, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),

In [4]:
%%sql

--Filtering new_temp for cuisines with more that 100 violations

DROP TABLE IF EXISTS vio_hund_filt;
CREATE TEMP TABLE vio_hund_filt AS

SELECT DISTINCT new_temp.cuisinecode as coder,e.tot_viol
FROM new_temp
    LEFT JOIN(
    SELECT DISTINCT cuisinecode,COUNT(violcode) as tot_viol
    FROM new_temp
    GROUP BY cuisinecode
)AS e ON e.cuisinecode = new_temp.cuisinecode
GROUP BY new_temp.cuisinecode,e.tot_viol
HAVING COUNT(violcode) >= 100;
--LIMIT 100;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
75 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 100;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
%%sql
--Join new_temp with table filtered for 100 or more violations per cuisine; 522410 entries

DROP TABLE IF EXISTS vio_hund;
CREATE TEMP TABLE vio_hund AS

SELECT *
FROM vio_hund_filt as vh
JOIN new_temp as nt
ON vh.coder = nt.cuisinecode;


--LIMIT 90;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
522410 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 90;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
%%sql

--total violations for each cuisine with days open---att2

DROP TABLE IF EXISTS vio_tab;
CREATE TEMP TABLE vio_tab AS

SELECT vio_inner.cuisinecode,sum(vio_inner.tot_viol_)as tot_viol,SUM( 
        CASE
            WHEN (days_open < 30) THEN 30
            ELSE days_open
        END)
        as calc_daysopen
FROM (SELECT cuisinecode,camis,COUNT(violcode) as tot_viol_, DATE_PART('day',MAX(INSPDATE) - MIN(INSPDATE)) as days_open
        FROM vio_hund
        GROUP BY cuisinecode,camis)
AS vio_inner
GROUP BY vio_inner.cuisinecode;
--LIMIT 100;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
75 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 100;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [8]:
%%sql
--total restaurant-years for that cuisine
SELECT cuisine.codedesc as "cuisine name",
       (tot_viol/(calc_daysopen/365)) as "reports per restaurant-year"
FROM vio_tab
    LEFT JOIN cuisine
    ON cuisine.cuisinecode = vio_tab.cuisinecode
ORDER BY "reports per restaurant-year";

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
75 rows affected.

[('Hotdogs/Pretzels', 3.7699038875340696),
 ('Soups & Sandwiches', 5.853531807330431),
 ('Hotdogs', 5.982698436788588),
 ('Donuts', 6.071925883292177),
 ('Ice Cream, Gelato, Yogurt, Ices', 6.201410961007777),
 ('Sandwiches', 6.5479541445232785),
 ('Café/Coffee/Tea', 6.695665346712415),
 ('Bottled beverages, including water, sodas, juices, etc.', 7.012834143377886),
 ('Juice, Smoothies, Fruit Salads', 7.035177720776841),
 ('Not Listed/Not Applicable', 7.107482367371972),
 ('Hamburgers', 7.41649494417022),
 ('Sandwiches/Salads/Mixed Buffet', 7.449380325068759),
 ('Ethiopian', 8.541880072492317),
 ('Barbecue', 8.741986210233458),
 ('Other', 8.945725737564887),
 ('English', 9.300964187327823),
 ('Steak', 9.3638330088687),
 ('Cajun', 9.451556590049462),
 ('American ', 9.644797822955427),
 ('Salads', 9.700996677740864),
 ('Irish', 9.925663375932704),
 ('Egyptian', 9.983162217659139),
 ('Czech', 10.015243902439025),
 ('Armenian', 10.031780125367115),
 ('Pizza', 10.048404711082526),
 ('Chicken', 10.070646586978217),
 ('Continental', 10.075140271238052),
 ('Bagels/Pretzels', 10.191287253403777),
 ('Greek', 10.25205295793531),
 ('Middle Eastern', 10.34705339556013),
 ('French', 10.475615842294467),
 ('Vegetarian', 10.532729445436171),
 ('Southwestern', 10.541893051186731),
 ('Tex-Mex', 10.605718585402558),
 ('Scandinavian', 10.709925167388736),
 ('Polish', 10.823077558437268),
 ('Italian', 10.878175573046523),
 ('Bakery', 10.881243766719173),
 ('Mediterranean', 10.931307649780312),
 ('Russian', 11.012599089730838),
 ('Australian', 11.041717492071237),
 ('Tapas', 11.071733990643393),
 ('Moroccan', 11.113718214558551),
 ('Seafood', 11.114339348545878),
 ('Pizza/Italian', 11.131734436577865),
 ('Jewish/Kosher', 11.148722601750395),
 ('Pancakes/Waffles', 11.323450752655306),
 ('German', 11.378444263869394),
 ('Soul Food', 11.565703634669152),
 ('Turkish', 11.876747386984386),
 ('Caribbean', 11.985932928201667),
 ('Mexican', 12.001077225757024),
 ('Eastern European', 12.16170944814161),
 ('Japanese', 12.320694974575225),
 ('Afghan', 12.360055286800275),
 ('Delicatessen', 12.666705517271522),
 ('Brazilian', 12.817468674318205),
 ('Thai', 12.852537609522237),
 ('Vietnamese/Cambodian/Malaysia', 12.8827679520634),
 ('African', 12.991788992602347),
 ('Filipino', 13.058000379915152),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 13.080674496234932),
 ('Korean', 13.254420737324763),
 ('Spanish', 13.284322495876546),
 ('Chinese', 13.322231792227818),
 ('Indian', 13.32754424729183),
 ('Indonesian', 13.634689582602595),
 ('Asian', 13.636893289804908),
 ('Peruvian', 13.640651118363449),
 ('Bangladeshi', 14.040479041916168),
 ('Pakistani', 14.817593336009635),
 ('Chinese/Cuban', 14.824929971988794),
 ('Portuguese', 15.05681818181818),
 ('Chinese/Japanese', 15.589578473568356),
 ('Creole', 15.90112921852945)]

In [146]:
result = _

In [147]:
score_by_cuisine = result

grader.score('sql__score_by_cuisine', score_by_cuisine)

==================
Your score: 0.9733
==================

## Question 5: Specific violations by cuisine

Which cuisines tend to have a disproportionate number of what which violations? Answering this question isn't easy because you have to think carefully about normalizations.

1. More popular cuisine categories will tend to have more violations just because they represent more restaurants.
2. Similarly, some violations are more common.  For example, knowing that "Equipment not easily movable or sealed to floor" is a common violation for Chinese restaurants is not particularly helpful when it is a common violation for all restaurants.

The right quantity is to look at is the conditional probability of a specific type of violation given a specific cuisine type and divide it by the unconditional probability of the violation for the entire population. Taking this ratio gives the right answer.  Return the 20 highest ratios of the form:

    (cuisine, violation, ratio, count)

**Hint:**
1. You might want to check out this [Stack Overflow post](http://stackoverflow.com/questions/972877/calculate-frequency-using-sql).
2. The definition of a violation changes with time.  For example, 10A can mean two different things "Toilet facility not maintained ..." or "Vermin or other live animal present ..." when things were prior to 2003. To deal with this, you should limit your analysis to violation codes with end date after Jan 1, 2014. (This end date refers to the validity time ranges in `violations` table).
3. The ratios don't mean much when the number of violations of a given type and for a specific category are not large (why not?).  We chose 100 as our cutoff.  We include these categories in the statistics calculations, but do not report their values.

**Checkpoint:**
- Top 20 ratios mean: 2.360652529900757

In [96]:
%%sql
SELECT COUNT (*)
FROM new_temp
WHERE violcode is not null
LIMIT 200;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[(517107,)]

In [20]:
%%sql

--probability of a violation across all population

--DROP TABLE IF EXISTS one;
--CREATE TEMP TABLE one AS

SELECT new_temp.violcode,COUNT (*) * 1.0/517107 as prob_viol 
FROM new_temp
    LEFT JOIN cuisine
    ON cuisine.cuisinecode = new_temp.cuisinecode
WHERE new_temp.violcode is not null
GROUP by new_temp.violcode
LIMIT 200;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
96 rows affected.

[('10E', Decimal('0.00683804319028750336')),
 ('16A', Decimal('0.00140203091429820134')),
 ('07A', Decimal('0.00029974454029823615')),
 ('15J', Decimal('0.00054147400828068466')),
 ('05A', Decimal('0.00021465576756841427')),
 ('04H', Decimal('0.03085241545753586782')),
 ('05B', Decimal('0.00010636096591227734')),
 ('18G', Decimal('0.000073485758266664346064')),
 ('20E', Decimal('0.00075806361159295852')),
 ('20F', Decimal('0.00586145613963841139')),
 ('10I', Decimal('0.00753809172956467424')),
 ('06E', Decimal('0.02657283695637459945')),
 ('09C', Decimal('0.01316168607270835630')),
 ('04O', Decimal('0.00104620513742803714')),
 ('03C', Decimal('0.00091663814258944474')),
 ('08C', Decimal('0.01206713504168382946')),
 ('10M', Decimal('0.000001933835743859588054')),
 ('05C', Decimal('0.000077353429754383522172')),
 ('16E', Decimal('0.000021272193182455468597')),
 ('04K', Decimal('0.00639326096919979811')),
 ('02F', Decimal('0.000019338357438595880543')),
 ('04B', Decimal('0.000073485758266664346064')),
 ('15S', Decimal('0.00040997317769823267')),
 ('02H', Decimal('0.00611092095059629825')),
 ('02B', Decimal('0.04742345394666867786')),
 ('02A', Decimal('0.00096305020044207485')),
 ('20B', Decimal('0.000034809043389472584978')),
 ('22E', Decimal('0.00011409630888771570')),
 ('10B', Decimal('0.06058900769086475333')),
 ('04M', Decimal('0.02817211911654647878')),
 ('04J', Decimal('0.01212901778548733628')),
 ('06H', Decimal('0.000025139864670174644706')),
 ('18D', Decimal('0.00025526631818946562')),
 ('10K', Decimal('0.000003867671487719176109')),
 ('04E', Decimal('0.00062656278101050653')),
 ('06A', Decimal('0.01814131311314679554')),
 ('20A', Decimal('0.00169984161885257790')),
 ('03E', Decimal('0.000042544386364910937195')),
 ('06B', Decimal('0.00622888493097173312')),
 ('10H', Decimal('0.01687658453666262495')),
 ('08A', Decimal('0.09584863480865662232')),
 ('03A', Decimal('0.00114676459610873572')),
 ('18B', Decimal('0.000048345893596489701358')),
 ('18F', Decimal('0.00013150083058245199')),
 ('03G', Decimal('0.000038676714877191761086')),
 ('02I', Decimal('0.000081221101242102698281')),
 ('10C', Decimal('0.00092630732130874268')),
 ('15K', Decimal('0.00035582577687016420')),
 ('06F', Decimal('0.01936929881049763395')),
 ('06C', Decimal('0.04906141282171774894')),
 ('10G', Decimal('0.00022239111054385263')),
 ('02E', Decimal('0.000036742879133332173032')),
 ('15E', Decimal('0.000011603014463157528326')),
 ('06I', Decimal('0.000044478222108770525249')),
 ('20D', Decimal('0.00375164134308760083')),
 ('02C', Decimal('0.00106360965912277343')),
 ('04F', Decimal('0.00017211138120350334')),
 ('15L', Decimal('0.00500670074085247347')),
 ('05E', Decimal('0.00029200919732279780')),
 ('04I', Decimal('0.000048345893596489701358')),
 ('18A', Decimal('0.00012763315909473281')),
 ('15T', Decimal('0.00010055945868069858')),
 ('09A', Decimal('0.00528710692371211374')),
 ('08B', Decimal('0.00464120578526301133')),
 ('04L', Decimal('0.07407751200428538001')),
 ('22B', Decimal('0.00076579895456839687')),
 ('99B', Decimal('0.00436466727389109024')),
 ('10L', Decimal('0.000001933835743859588054')),
 ('04C', Decimal('0.00913930772548041314')),
 ('16C', Decimal('0.00023399412500701015')),
 ('10F', Decimal('0.12844537010715383857')),
 ('02D', Decimal('0.00010055945868069858')),
 ('06G', Decimal('0.00022045727479999304')),
 ('04A', Decimal('0.01791505433111522374')),
 ('04N', Decimal('0.04159293917893201987')),
 ('18C', Decimal('0.000059948908059647229684')),
 ('15I', Decimal('0.00059948908059647230')),
 ('16B', Decimal('0.00890918127196112217')),
 ('22C', Decimal('0.00845859754364183815')),
 ('10A', Decimal('0.01133227745901718600')),
 ('05F', Decimal('0.00159928216017187932')),
 ('10D', Decimal('0.00962856816867688892')),
 ('05I', Decimal('0.000030941371901753408869')),
 ('05D', Decimal('0.01152566103340314480')),
 ('05H', Decimal('0.00163215736781749232')),
 ('10J', Decimal('0.00478044195882090167')),
 ('22A', Decimal('0.00333393282241392981')),
 ('03B', Decimal('0.00064009963121752365')),
 ('04G', Decimal('0.000030941371901753408869')),
 ('09B', Decimal('0.00843925918620324227')),
 ('16F', Decimal('0.000017404521694736292489')),
 ('03D', Decimal('0.00017404521694736292')),
 ('02G', Decimal('0.08860641994790246506')),
 ('06D', Decimal('0.05988315764435600369')),
 ('09D', Decimal('0.000003867671487719176109')),
 ('04D', Decimal('0.00095918252895435567'))]

In [38]:
%%sql
----------tester
SELECT sum(test_tab.vio_countup)
FROM(
    SELECT count_vio.codedesc,
            count_vio.violcode,
            count_vio.count * 1.0/cuisine_vio.count as ratio,
            count_vio.count as vio_countup
    FROM (SELECT cuisine.codedesc, new_temp.violcode, count(*)
            FROM new_temp
                LEFT JOIN cuisine
                ON cuisine.cuisinecode = new_temp.cuisinecode
            WHERE new_temp.violcode is not null
            GROUP BY cuisine.codedesc, new_temp.violcode) AS count_vio
        LEFT JOIN (SELECT cuisine.codedesc, count(*)
                    FROM new_temp
                        LEFT JOIN cuisine
                        ON cuisine.cuisinecode = new_temp.cuisinecode
                    WHERE new_temp.violcode is not null
                    GROUP BY cuisine.codedesc) AS cuisine_vio
        ON cuisine_vio.codedesc = count_vio.codedesc
    WHERE count_vio.violcode = '20E'
    ORDER BY count_vio.codedesc) AS test_tab
LIMIT 200;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[(Decimal('392'),)]

In [39]:
%%sql
--Join tables to get probability of violation per cuisine;3 cells combined

--DROP TABLE IF EXISTS two;
--CREATE TEMP TABLE two AS

SELECT count_vio.codedesc,
        count_vio.violcode,
        count_vio.count * 1.0/cuisine_vio.count as ratio,
        count_vio.count as vio_countup
FROM (SELECT cuisine.codedesc, new_temp.violcode, count(*)
        FROM new_temp
            LEFT JOIN cuisine
            ON cuisine.cuisinecode = new_temp.cuisinecode
        WHERE new_temp.violcode is not null
        GROUP BY cuisine.codedesc, new_temp.violcode) AS count_vio
    LEFT JOIN (SELECT cuisine.codedesc, count(*)
                FROM new_temp
                    LEFT JOIN cuisine
                    ON cuisine.cuisinecode = new_temp.cuisinecode
                WHERE new_temp.violcode is not null
                GROUP BY cuisine.codedesc) AS cuisine_vio
    ON cuisine_vio.codedesc = count_vio.codedesc
ORDER BY count_vio.codedesc
LIMIT 200;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
200 rows affected.

[('Afghan', '06E', Decimal('0.02721088435374149660'), 8),
 ('Afghan', '09A', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '22C', Decimal('0.01020408163265306122'), 3),
 ('Afghan', '10I', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '04J', Decimal('0.00680272108843537415'), 2),
 ('Afghan', '10E', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '06C', Decimal('0.05442176870748299320'), 16),
 ('Afghan', '02G', Decimal('0.04081632653061224490'), 12),
 ('Afghan', '06D', Decimal('0.06122448979591836735'), 18),
 ('Afghan', '20F', Decimal('0.00680272108843537415'), 2),
 ('Afghan', '10B', Decimal('0.06122448979591836735'), 18),
 ('Afghan', '09B', Decimal('0.01020408163265306122'), 3),
 ('Afghan', '20E', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '10J', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '04A', Decimal('0.02040816326530612245'), 6),
 ('Afghan', '10F', Decimal('0.13605442176870748299'), 40),
 ('Afghan', '04M', Decimal('0.03741496598639455782'), 11),
 ('Afghan', '04F', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '04C', Decimal('0.01020408163265306122'), 3),
 ('Afghan', '10D', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '05E', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '09C', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '02B', Decimal('0.01360544217687074830'), 4),
 ('Afghan', '08B', Decimal('0.00680272108843537415'), 2),
 ('Afghan', '08A', Decimal('0.12244897959183673469'), 36),
 ('Afghan', '15L', Decimal('0.01020408163265306122'), 3),
 ('Afghan', '10H', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '04N', Decimal('0.04421768707482993197'), 13),
 ('Afghan', '04H', Decimal('0.01360544217687074830'), 4),
 ('Afghan', '16B', Decimal('0.02721088435374149660'), 8),
 ('Afghan', '16A', Decimal('0.00680272108843537415'), 2),
 ('Afghan', '08C', Decimal('0.01700680272108843537'), 5),
 ('Afghan', '06F', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '04L', Decimal('0.11564625850340136054'), 34),
 ('Afghan', '99B', Decimal('0.01700680272108843537'), 5),
 ('Afghan', '04K', Decimal('0.01360544217687074830'), 4),
 ('Afghan', '04D', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '02H', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '06B', Decimal('0.00680272108843537415'), 2),
 ('Afghan', '06A', Decimal('0.04081632653061224490'), 12),
 ('Afghan', '04I', Decimal('0.00340136054421768707'), 1),
 ('Afghan', '05D', Decimal('0.00680272108843537415'), 2),
 ('Afghan', '10A', Decimal('0.00680272108843537415'), 2),
 ('African', '02B', Decimal('0.07725788900979325354'), 142),
 ('African', '20A', Decimal('0.00163220892274211099'), 3),
 ('African', '22C', Decimal('0.01033732317736670294'), 19),
 ('African', '09A', Decimal('0.00272034820457018498'), 5),
 ('African', '16A', Decimal('0.00054406964091403700'), 1),
 ('African', '10C', Decimal('0.00163220892274211099'), 3),
 ('African', '02G', Decimal('0.06147986942328618063'), 113),
 ('African', '04N', Decimal('0.06202393906420021763'), 114),
 ('African', '10B', Decimal('0.04298150163220892274'), 79),
 ('African', '04E', Decimal('0.00054406964091403700'), 1),
 ('African', '06D', Decimal('0.01577801958650707291'), 29),
 ('African', '09B', Decimal('0.01196953210010881393'), 22),
 ('African', '20D', Decimal('0.00435255712731229597'), 8),
 ('African', '15L', Decimal('0.00217627856365614799'), 4),
 ('African', '16B', Decimal('0.00544069640914036997'), 10),
 ('African', '04C', Decimal('0.00163220892274211099'), 3),
 ('African', '10I', Decimal('0.00544069640914036997'), 10),
 ('African', '10F', Decimal('0.10718171926006528836'), 197),
 ('African', '10H', Decimal('0.01468988030467899891'), 27),
 ('African', '05E', Decimal('0.00054406964091403700'), 1),
 ('African', '02C', Decimal('0.00272034820457018498'), 5),
 ('African', '18D', Decimal('0.00217627856365614799'), 4),
 ('African', '08C', Decimal('0.01468988030467899891'), 27),
 ('African', '02A', Decimal('0.00054406964091403700'), 1),
 ('African', '08B', Decimal('0.00707290533188248096'), 13),
 ('African', '10D', Decimal('0.01305767138193688792'), 24),
 ('African', '06A', Decimal('0.01142546245919477693'), 21),
 ('African', '05D', Decimal('0.01414581066376496192'), 26),
 ('African', '22B', Decimal('0.00163220892274211099'), 3),
 ('African', '10A', Decimal('0.01849836779107725789'), 34),
 ('African', '04H', Decimal('0.02937976060935799782'), 54),
 ('African', '06C', Decimal('0.03917301414581066376'), 72),
 ('African', '10J', Decimal('0.00598476605005440696'), 11),
 ('African', '05F', Decimal('0.00652883569096844396'), 12),
 ('African', '06E', Decimal('0.01468988030467899891'), 27),
 ('African', '05A', Decimal('0.00054406964091403700'), 1),
 ('African', '04M', Decimal('0.03536452665941240479'), 65),
 ('African', '18A', Decimal('0.00054406964091403700'), 1),
 ('African', '20E', Decimal('0.00054406964091403700'), 1),
 ('African', '15I', Decimal('0.00054406964091403700'), 1),
 ('African', '08A', Decimal('0.12187159956474428727'), 224),
 ('African', '03A', Decimal('0.00163220892274211099'), 3),
 ('African', '06G', Decimal('0.00054406964091403700'), 1),
 ('African', '02H', Decimal('0.01196953210010881393'), 22),
 ('African', '10G', Decimal('0.00054406964091403700'), 1),
 ('African', '04J', Decimal('0.01686615886833514690'), 31),
 ('African', '09C', Decimal('0.00761697497279651795'), 14),
 ('African', '06F', Decimal('0.00924918389553862894'), 17),
 ('African', '99B', Decimal('0.00217627856365614799'), 4),
 ('African', '03D', Decimal('0.00054406964091403700'), 1),
 ('African', '20F', Decimal('0.00489662676822633297'), 9),
 ('African', '04L', Decimal('0.09521218715995647443'), 175),
 ('African', '06B', Decimal('0.00544069640914036997'), 10),
 ('African', '05H', Decimal('0.00380848748639825898'), 7),
 ('African', '04K', Decimal('0.01414581066376496192'), 26),
 ('African', '04A', Decimal('0.04678998911860718172'), 86),
 ('African', '10E', Decimal('0.00707290533188248096'), 13),
 ('American ', '06E', Decimal('0.02501908780389793048'), 3113),
 ('American ', '15S', Decimal('0.00038577456298975286'), 48),
 ('American ', '20E', Decimal('0.00090817761703837653'), 113),
 ('American ', '10K', Decimal('0.000016073940124573035965'), 2),
 ('American ', '02F', Decimal('0.000016073940124573035965'), 2),
 ('American ', '20B', Decimal('0.000016073940124573035965'), 2),
 ('American ', '04N', Decimal('0.04601165360659031545'), 5725),
 ('American ', '18G', Decimal('0.00010448061080972473'), 13),
 ('American ', '02G', Decimal('0.08752260397830018083'), 10890),
 ('American ', '10G', Decimal('0.000064295760498292143862'), 8),
 ('American ', '06H', Decimal('0.000056258790436005625879'), 7),
 ('American ', '04M', Decimal('0.01837251356238698011'), 2286),
 ('American ', '20D', Decimal('0.00376130198915009042'), 468),
 ('American ', '15E', Decimal('0.000008036970062286517983'), 1),
 ('American ', '04H', Decimal('0.04644564998995378742'), 5779),
 ('American ', '03E', Decimal('0.000056258790436005625879'), 7),
 ('American ', '15I', Decimal('0.00121358247940526422'), 151),
 ('American ', '08B', Decimal('0.00415511352220212980'), 517),
 ('American ', '04E', Decimal('0.00054651396423548322'), 68),
 ('American ', '04D', Decimal('0.00073136427566807314'), 91),
 ('American ', '08C', Decimal('0.01218404661442636126'), 1516),
 ('American ', '18D', Decimal('0.00012859152099658429'), 16),
 ('American ', '15L', Decimal('0.00694394213381555154'), 864),
 ('American ', '22B', Decimal('0.00096443640747438216'), 120),
 ('American ', '20A', Decimal('0.00193690978501105083'), 241),
 ('American ', '10I', Decimal('0.00781997187060478200'), 973),
 ('American ', '10E', Decimal('0.00691179425356640547'), 860),
 ('American ', '15K', Decimal('0.00066706851516978099'), 83),
 ('American ', '09B', Decimal('0.00491058870805706249'), 611),
 ('American ', '18B', Decimal('0.000064295760498292143862'), 8),
 ('American ', '06G', Decimal('0.00031344183242917420'), 39),
 ('American ', '04G', Decimal('0.000016073940124573035965'), 2),
 ('American ', '05B', Decimal('0.000072332730560578661844'), 9),
 ('American ', '05F', Decimal('0.00114124974884468555'), 142),
 ('American ', '18C', Decimal('0.000072332730560578661844'), 9),
 ('American ', '03G', Decimal('0.000032147880249146071931'), 4),
 ('American ', '99B', Decimal('0.00430781595338557364'), 536),
 ('American ', '10J', Decimal('0.00659031545107494475'), 820),
 ('American ', '16A', Decimal('0.00149487643158529234'), 186),
 ('American ', '05A', Decimal('0.00020092425155716295'), 25),
 ('American ', '06D', Decimal('0.07625477195097448262'), 9488),
 ('American ', '15J', Decimal('0.00102873216797267430'), 128),
 ('American ', '16C', Decimal('0.00014466546112115732'), 18),
 ('American ', '03D', Decimal('0.00022503516174402250'), 28),
 ('American ', '06F', Decimal('0.01625075346594333936'), 2022),
 ('American ', '08A', Decimal('0.08941932891299979908'), 11126),
 ('American ', '06C', Decimal('0.04323086196503918023'), 5379),
 ('American ', '09A', Decimal('0.00544102873216797267'), 677),
 ('American ', '22C', Decimal('0.00865581675708257987'), 1077),
 ('American ', '20F', Decimal('0.00696805304400241109'), 867),
 ('American ', '04A', Decimal('0.01764114928671890697'), 2195),
 ('American ', '06B', Decimal('0.00540888085191882660'), 673),
 ('American ', '05H', Decimal('0.00152702431183443842'), 190),
 ('American ', '07A', Decimal('0.00032951577255374724'), 41),
 ('American ', '04F', Decimal('0.00014466546112115732'), 18),
 ('American ', '06A', Decimal('0.01454691581273859755'), 1810),
 ('American ', '18A', Decimal('0.00021699819168173599'), 27),
 ('American ', '22A', Decimal('0.00506329113924050633'), 630),
 ('American ', '02E', Decimal('0.000048221820373719107896'), 6),
 ('American ', '04O', Decimal('0.00110910186859553948'), 138),
 ('American ', '04K', Decimal('0.00609202330721318063'), 758),
 ('American ', '06I', Decimal('0.00011251758087201125'), 14),
 ('American ', '02A', Decimal('0.00104480610809724734'), 130),
 ('American ', '22E', Decimal('0.00019288728149487643'), 24),
 ('American ', '02I', Decimal('0.000080369700622865179827'), 10),
 ('American ', '04L', Decimal('0.06711673699015471167'), 8351),
 ('American ', '04I', Decimal('0.000032147880249146071931'), 4),
 ('American ', '02B', Decimal('0.03082981715893108298'), 3836),
 ('American ', '10M', Decimal('0.000008036970062286517983'), 1),
 ('American ', '04J', Decimal('0.01183845690174804099'), 1473),
 ('American ', '04C', Decimal('0.01105083383564396223'), 1375),
 ('American ', '09D', Decimal('0.000008036970062286517983'), 1),
 ('American ', '09C', Decimal('0.01322885272252360860'), 1646),
 ('American ', '10F', Decimal('0.13310829817158931083'), 16562),
 ('American ', '02D', Decimal('0.00014466546112115732'), 18),
 ('American ', '02C', Decimal('0.00088406670685151698'), 110),
 ('American ', '05I', Decimal('0.000048221820373719107896'), 6),
 ('American ', '10D', Decimal('0.00776371308016877637'), 966),
 ('American ', '02H', Decimal('0.00540888085191882660'), 673),
 ('American ', '03B', Decimal('0.00029736789230460117'), 37),
 ('American ', '05C', Decimal('0.000048221820373719107896'), 6),
 ('American ', '15T', Decimal('0.000088406670685151697810'), 11),
 ('American ', '03C', Decimal('0.00114928671890697207'), 143),
 ('American ', '16B', Decimal('0.00950773558368495077'), 1183),
 ('American ', '10C', Decimal('0.00085191882660237091'), 106),
 ('American ', '10A', Decimal('0.01155716294956801286'), 1438),
 ('American ', '10H', Decimal('0.02205344585091420534'), 2744),
 ('American ', '03A', Decimal('0.00069921639541892706'), 87),
 ('American ', '10B', Decimal('0.06627285513361462729'), 8246),
 ('American ', '05E', Decimal('0.00020896122161944947'), 26),
 ('American ', '04B', Decimal('0.000040184850311432589914'), 5),
 ('American ', '18F', Decimal('0.00011251758087201125'), 14),
 ('American ', '05D', Decimal('0.01227245328511151296'), 1527),
 ('American ', '10L', Decimal('0.000008036970062286517983'), 1),
 ('Armenian', '09A', Decimal('0.00318979266347687400'), 2),
 ('Armenian', '02H', Decimal('0.00637958532695374801'), 4),
 ('Armenian', '15S', Decimal('0.00318979266347687400'), 2),
 ('Armenian', '15J', Decimal('0.00159489633173843700'), 1),
 ('Armenian', '10J', Decimal('0.00478468899521531100'), 3),
 ('Armenian', '06A', Decimal('0.01913875598086124402'), 12)]

In [12]:
%%sql
--selecting violations after jan 1 2014; use this to filter only codes with >100 count

DROP TABLE IF EXISTS three;
CREATE TEMP TABLE three AS

Select violationcode,violationdesc
From violations
WHERE timestamp '2014-01-01' < enddate; 
--LIMIT 100;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
112 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --LIMIT 100;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [41]:
%%sql

--Join tables to filter out of date violations

--DROP TABLE IF EXISTS onejoin;
--CREATE TEMP TABLE onejoin AS

SELECT three.violationcode,three.violationdesc,one.prob_viol
FROM one
    JOIN three
    ON three.violationcode = one.violcode
LIMIT 200;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
92 rows affected.

[('10E', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('0.00683804319028750336')),
 ('16A', 'A food containing artificial trans fat, with 0.5 grams or more of trans fat per serving, is being stored, distributed, held for service, used in preparation of a menu item, or served.', Decimal('0.00140203091429820134')),
 ('07A', 'Duties of an officer of the Department interfered with or obstructed.', Decimal('0.00029974454029823615')),
 ('15J', 'Ashtray present in smoke-free area.', Decimal('0.00054147400828068466')),
 ('05A', 'Sewage disposal system improper or unapproved.', Decimal('0.00021465576756841427')),
 ('04H', 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', Decimal('0.03085241545753586782')),
 ('05B', 'Harmful, noxious gas or vapor detected. CO ~1 3 ppm.', Decimal('0.00010636096591227734')),
 ('18G', 'Manufacture of frozen dessert not authorized on Food Service Establishment permit.', Decimal('0.000073485758266664346064')),
 ('20E', 'Letter Grade or Grade Pending card not conspicuously posted and visible to passersby.', Decimal('0.00075806361159295852')),
 ('20F', 'Current letter grade card not posted.', Decimal('0.00586145613963841139')),
 ('10I', 'Single service item reused, improperly stored, dispensed; not used when required.', Decimal('0.00753809172956467424')),
 ('06E', 'Sanitized equipment or utensil, including in-use food dispensing utensil, improperly used or stored.', Decimal('0.02657283695637459945')),
 ('09C', 'Food contact surface not properly maintained.', Decimal('0.01316168607270835630')),
 ('04O', "Live animals other than fish in tank or service animal present in facility's food and/or non-food areas.", Decimal('0.00104620513742803714')),
 ('03C', 'Eggs found dirty/cracked; liquid, frozen or powdered eggs not pasteurized.', Decimal('0.00091663814258944474')),
 ('08C', 'Pesticide use not in accordance with label or applicable laws. Prohibited chemical used/stored. Open bait station used.', Decimal('0.01206713504168382946')),
 ('05C', 'Food contact surface improperly constructed or located. Unacceptable material used.', Decimal('0.000077353429754383522172')),
 ('16E', 'Caloric content range (minimum to maximum) not posted on menus and or menu boards for each flavor, variety and size of each menu item that is offered for sale in different flavors, varieties and sizes.', Decimal('0.000021272193182455468597')),
 ('04K', "Evidence of rats or live rats present in facility's food and/or non-food areas.", Decimal('0.00639326096919979811')),
 ('02F', 'Meat, fish or molluscan shellfish served raw or undercooked without prior notification to customer.', Decimal('0.000019338357438595880543')),
 ('04B', 'Food worker prepares food or handles utensil when ill with a disease transmissible by food, or have exposed infected cut or burn on hand.', Decimal('0.000073485758266664346064')),
 ('15S', 'Flavored tobacco products sold or offered for sale.', Decimal('0.00040997317769823267')),
 ('02H', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('0.00611092095059629825')),
 ('02B', 'Hot food item not held at or above 140º F.', Decimal('0.04742345394666867786')),
 ('02A', 'Food not cooked to required minimum temperature.', Decimal('0.00096305020044207485')),
 ('20B', 'Food allergy information poster not posted in language understood by all food workers.', Decimal('0.000034809043389472584978')),
 ('22E', 'ROP processing equipment not approved by DOHMH.', Decimal('0.00011409630888771570')),
 ('10B', 'Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not provided where required; equipment or floor not properly drained; sewage disposal system in disrepair or not functioning properly.', Decimal('0.06058900769086475333')),
 ('04M', "Live roaches present in facility's food and/or non-food areas.", Decimal('0.02817211911654647878')),
 ('04J', 'Appropriately scaled metal stem-type thermometer or thermocouple not provided or used to evaluate temperatures of potentially hazardous foods during cooking, cooling, reheating and holding.', Decimal('0.01212901778548733628')),
 ('06H', 'Records and logs not maintained to demonstrate that HACCP plan has been properly implemented.', Decimal('0.000025139864670174644706')),
 ('18D', 'Failure to comply with an Order of the Board of Health, Commissioner, or Department.', Decimal('0.00025526631818946562')),
 ('04E', 'Toxic chemical improperly labeled, stored or used such that food contamination may occur.', Decimal('0.00062656278101050653')),
 ('06A', 'Personal cleanliness inadequate. Outer garment soiled with possible contaminant.  Effective hair restraint not worn in an area where food is prepared.', Decimal('0.01814131311314679554')),
 ('20A', 'Food allergy information poster not conspicuously posted where food is being prepared or processed by food workers.', Decimal('0.00169984161885257790')),
 ('03E', 'Potable water supply inadequate. Water or ice not potable or from unapproved source.  Cross connection in potable water supply system observed.', Decimal('0.000042544386364910937195')),
 ('06B', 'Tobacco use, eating, or drinking from open container in food preparation, food storage or dishwashing area observed.', Decimal('0.00622888493097173312')),
 ('10H', 'Proper sanitization not provided for utensil ware washing operation.', Decimal('0.01687658453666262495')),
 ('08A', 'Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.', Decimal('0.09584863480865662232')),
 ('03A', 'Food from unapproved or unknown source or home canned. Reduced oxygen packaged (ROP) fish not frozen before processing; or ROP foods prepared on premises transported to another site.', Decimal('0.00114676459610873572')),
 ('18B', 'Document issued by the Board of Health, Commissioner or Department unlawfully reproduced or altered.', Decimal('0.000048345893596489701358')),
 ('18F', 'Permit not conspicuously displayed.', Decimal('0.00013150083058245199')),
 ('03G', 'Raw food not properly washed prior to serving.', Decimal('0.000038676714877191761086')),
 ('02I', 'Food prepared from ingredients at ambient temperature not cooled to 41º F or below within 4 hours.', Decimal('0.000081221101242102698281')),
 ('10C', 'Lighting inadequate; permanent lighting not provided in food preparation areas, ware washing areas, and storage rooms.', Decimal('0.00092630732130874268')),
 ('15K', 'Operator failed to make good faith effort to inform smokers of the Smoke-free Act prohibition of smoking.', Decimal('0.00035582577687016420')),
 ('06F', 'Wiping cloths soiled or not stored in sanitizing solution.', Decimal('0.01936929881049763395')),
 ('06C', 'Food not protected from potential source of contamination during storage, preparation, transportation, display or service.', Decimal('0.04906141282171774894')),
 ('10G', 'Food service operation occurring in room used as living or sleeping quarters.', Decimal('0.00022239111054385263')),
 ('02E', 'Whole frozen poultry or poultry breasts, other than a single portion, is being cooked frozen or partially thawed.', Decimal('0.000036742879133332173032')),
 ('15E', 'Out-of package sale of tobacco products observed.', Decimal('0.000011603014463157528326')),
 ('06I', 'Food not labeled in accordance with HACCP plan.', Decimal('0.000044478222108770525249')),
 ('20D', '“Choking first aid” poster not posted. “Alcohol and pregnancy” warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.', Decimal('0.00375164134308760083')),
 ('02C', 'Hot food item that has been cooked and refrigerated is being held for service without first being reheated to 1 65º F or above within 2 hours.', Decimal('0.00106360965912277343')),
 ('04F', 'Food, food preparation area, food storage area, area used by employees or patrons, contaminated by sewage or liquid waste.', Decimal('0.00017211138120350334')),
 ('15L', 'Smoke free workplace smoking policy inadequate, not posted, not provided to employees.', Decimal('0.00500670074085247347')),
 ('05E', 'Toilet facility not provided for employees or for patrons when required.', Decimal('0.00029200919732279780')),
 ('04I', 'Unprotected food re-served.', Decimal('0.000048345893596489701358')),
 ('18A', 'Current valid permit, registration or other authorization to operate establishment not available.', Decimal('0.00012763315909473281')),
 ('15T', 'Original label for tobacco products sold or offered for sale.', Decimal('0.00010055945868069858')),
 ('09A', 'Canned food product observed dented and not segregated from other consumable food items.', Decimal('0.00528710692371211374')),
 ('08B', 'Covered garbage receptacle not provided or inadequate, except that garbage receptacle may be uncovered during active use. Garbage storage area not properly constructed or maintained; grinder or compactor dirty.', Decimal('0.00464120578526301133')),
 ('04L', "Evidence of mice or live mice present in facility's food and/or non-food areas.", Decimal('0.07407751200428538001')),
 ('22B', 'Toilet facility used by women does not have at least one covered garbage receptacle.', Decimal('0.00076579895456839687')),
 ('99B', 'Other general violation.', Decimal('0.00436466727389109024')),
 ('04C', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', Decimal('0.00913930772548041314')),
 ('16C', 'Caloric content not posted on menus, menu boards or food tags, in a food service establishment that is 1 of 15 or more outlets operating the same typ ... (62 characters truncated) ...  as a franchise or doing business under the same name, for each menu item that is served in portions, the size and content of which are standardized.', Decimal('0.00023399412500701015')),
 ('10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', Decimal('0.12844537010715383857')),
 ('02D', 'Precooked potentially hazardous food from commercial food processing establishment that is supposed to be heated, but is not heated to 140º F within 2 hours.', Decimal('0.00010055945868069858')),
 ('06G', 'HACCP plan not approved or approved HACCP plan not maintained on premises.', Decimal('0.00022045727479999304')),
 ('04A', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('0.01791505433111522374')),
 ('04N', 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facility’s food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', Decimal('0.04159293917893201987')),
 ('18C', 'Notice of the Department of Board of Health mutilated, obstructed, or removed.', Decimal('0.000059948908059647229684')),
 ('15I', '""No Smoking” and/or \'Smoking Permitted” sign not conspicuously posted. Health warning not present on \'Smoking Permitted”', Decimal('0.00059948908059647230')),
 ('16B', 'The original nutritional fact labels and/or ingredient label for a cooking oil, shortening or margarine or food item sold in bulk, or acceptable manufacturer’s documentation not maintained on site.', Decimal('0.00890918127196112217')),
 ('22C', 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.', Decimal('0.00845859754364183815')),
 ('10A', 'Toilet facility not maintained and provided with toilet paper, waste receptacle and self-closing door.', Decimal('0.01133227745901718600')),
 ('05F', 'Insufficient or no refrigerated or hot holding equipment to keep potentially hazardous foods at required temperatures.', Decimal('0.00159928216017187932')),
 ('10D', 'Mechanical or natural ventilation system not provided, improperly installed, in disrepair and/or fails to prevent excessive build-up of grease, heat, steam condensation vapors, odors, smoke, and fumes.', Decimal('0.00962856816867688892')),
 ('05I', 'Refrigeration used to implement HACCP plan not equipped with an electronic system that continuously monitors time and temperature.', Decimal('0.000030941371901753408869')),
 ('05D', 'Hand washing facility not provided in or near food preparation area and toilet room. Hot and cold running water at adequate pressure to enable cleanliness of employees not provided at facility. Soap and an acceptable hand-drying device not provided.', Decimal('0.01152566103340314480')),
 ('05H', 'No facilities available to wash, rinse and sanitize utensils and/or equipment.', Decimal('0.00163215736781749232')),
 ('10J', '""Wash hands” sign not posted at hand wash facility.', Decimal('0.00478044195882090167')),
 ('22A', 'Nuisance created or allowed to exist. Facility not free from unsafe, hazardous, offensive or annoying conditions.', Decimal('0.00333393282241392981')),
 ('03B', 'Shellfish not from approved source, improperly tagged/labeled; tags not retained for 90 days.', Decimal('0.00064009963121752365')),
 ('04G', 'Unprotected potentially hazardous food re-served.', Decimal('0.000030941371901753408869')),
 ('09B', 'Thawing procedures improper.', Decimal('0.00843925918620324227')),
 ('16F', 'Specific caloric content or range thereof not posted on menus, menu boards or food tags for each menu item offered as a combination meal with multiple options that are listed as single items.', Decimal('0.000017404521694736292489')),
 ('03D', 'Canned food product observed swollen, leaking or rusted, and not segregated from other consumable food items .', Decimal('0.00017404521694736292')),
 ('02G', 'Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.', Decimal('0.08860641994790246506')),
 ('06D', 'Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.', Decimal('0.05988315764435600369')),
 ('04D', 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.', Decimal('0.00095918252895435567'))]

In [50]:
%%sql

SELECT two.codedesc,onejoin.violationdesc,two.ratio/onejoin.prob_viol as true_ratio,two.vio_countup
FROM onejoin
    LEFT JOIN two
    ON two.violcode = onejoin.violationcode
WHERE two.vio_countup >= 100
ORDER BY true_ratio desc
fetch first 20 rows only;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
20 rows affected.

[('Japanese', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', Decimal('3.23204234126790199749'), 541),
 ('Café/Coffee/Tea', '“Choking first aid” poster not posted. “Alcohol and pregnancy” warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.', Decimal('3.13417725820702779552'), 173),
 ('Juice, Smoothies, Fruit Salads', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('3.07747209854410055292'), 145),
 ('Donuts', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('3.03113628263805522178'), 130),
 ('Ice Cream, Gelato, Yogurt, Ices', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('2.95071555738153930345'), 193),
 ('Thai', 'Thawing procedures improper.', Decimal('2.62508300548017712120'), 151),
 ('Irish', 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', Decimal('2.37705546180017378604'), 321),
 ('Mexican', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.32712238040872166691'), 260),
 ('Indian', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.24964318620040303826'), 112),
 ('Chinese', 'Thawing procedures improper.', Decimal('2.19197617766741136037'), 1121),
 ('Caribbean', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.10045111056250990918'), 206),
 ('Soups & Sandwiches', 'Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.', Decimal('2.09509908572331494412'), 106),
 ('Hamburgers', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('2.08860491992515438730'), 109),
 ('Chinese', 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.', Decimal('2.08170244877883112854'), 121),
 ('Middle Eastern', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('2.04407520251039918213'), 117),
 ('American ', '""No Smoking” and/or \'Smoking Permitted” sign not conspicuously posted. Health warning not present on \'Smoking Permitted”', Decimal('2.02436127476715471516'), 151),
 ('Donuts', 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.', Decimal('2.01687678029030542192'), 107),
 ('American ', 'Ashtray present in smoke-free area.', Decimal('1.89987358994230601622'), 128),
 ('Spanish', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('1.89798446963104557133'), 151),
 ('Hamburgers', 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facility’s food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', Decimal('1.89013697404388362754'), 600)]

In [51]:
violation_by_cuisine = _

grader.score('sql__violation_by_cuisine', violation_by_cuisine)

==================
Your score: 1.0000
==================

*Copyright &copy; 2022 Pragmatic Institute. This content is licensed solely for personal use. Redistribution or publication of this material is strictly prohibited.*